// Flexbox mixins
@mixin flexbox {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

@mixin flex-wrap($value: nowrap) {
	-webkit-flex-wrap: $value;

	@if $value==nowrap {
		-ms-flex-wrap: none;
	}

	@else {
		-ms-flex-wrap: $value;
	}

	flex-wrap: $value;
}

@mixin flex-direction($value: row) {
	-webkit-flex-direction: $value;
	-ms-flex-direction: $value;
	flex-direction: $value;
}

@mixin flex-flow($values: (row nowrap)) {
	-webkit-flex-flow: $values;
	-ms-flex-flow: $values;
	flex-flow: $values;
}

@mixin justify-content($value: flex-start) {
	-webkit-justify-content: $value;

	@if $value==flex-start {
		-ms-flex-pack: start;
	}

	@else if $value==flex-end {
		-ms-flex-pack: end;
	}

	@else if $value==space-between {
		-ms-flex-pack: justify;
	}

	@else if $value==space-around {
		-ms-flex-pack: distribute;
	}

	@else {
		-ms-flex-pack: $value;
	}

	justify-content: $value;
}

@mixin align-items($value: stretch) {
	-webkit-align-items: $value;

	@if $value==flex-start {
		-ms-flex-align: start;
	}

	@else if $value==flex-end {
		-ms-flex-align: end;
	}

	@else {
		-ms-flex-align: $value;
	}

	align-items: $value;
}

@mixin align-content($value: stretch) {
	-webkit-align-content: $value;

	@if $value==flex-start {
		-ms-flex-line-pack: start;
	}

	@else if $value==flex-end {
		-ms-flex-line-pack: end;
	}

	@else {
		-ms-flex-line-pack: $value;
	}

	align-content: $value;
}

@mixin flex($fg: 1, $fs: null, $fb: null) {
	-webkit-flex: $fg $fs $fb;
	-ms-flex: $fg $fs $fb;
	flex: $fg $fs $fb;
}

@mixin flex-grow($int: 0) {
	-webkit-flex-grow: $int;
	-ms-flex-positive: $int;
	flex-grow: $int;
}

@mixin flex-shrink($int: 1) {
	-webkit-flex-shrink: $int;
	-ms-flex-negative: $int;
	flex-shrink: $int;
}

@mixin flex-basis($value: auto) {
	-webkit-flex-basis: $value;
	-ms-flex-preferred-size: $value;
	flex-basis: $value;
}

@mixin order($int: 0) {
	-webkit-order: $int;
	-ms-flex-order: $int;
	order: $int;
}

@mixin align-self($value: auto) {
	-webkit-align-self: $value;

	@if $value==flex-start {
		-ms-flex-item-align: start;
	}

	@else if $value==flex-end {
		-ms-flex-item-align: end;
	}

	@else {
		-ms-flex-item-align: $value;
	}

	align-self: $value;
}